
<div class="card">
    <h1 class="card-title">card title</h1>
        <div class="card-body">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras auctor purus at aliquam porta. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                 Etiam nec sagittis elit. Maecenas dignissim neque nulla, quis molestie purus malesuada gravida.
                 Praesent vestibulum semper leo eget fermentum. Suspendisse sed volutpat metus. Aenean quis blandit leo,
                  a ultrices lectus. 
                Aenean mollis ligula pharetra nisi posuere ornare. Vestibulum sed nibh interdum, elementum ipsum a, hendrerit purus.
            </div>
            <div class="oper">
                <button class="btn-delete">x</button>
            </div>
        </div>
</div>
